@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;800&family=Roboto+Condensed&display=swap");

/* Color Theme Swatches in Hex */
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-1-hex {
  color: #021859;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-2-hex {
  color: #273459;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-3-hex {
  color: #212b40;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-4-hex {
  color: #51718c;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-5-hex {
  color: #bf8069;
}

/* Color Theme Swatches in RGBA */
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-1-rgba {
  color: rgba(1, 23, 89, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-2-rgba {
  color: rgba(39, 51, 89, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-3-rgba {
  color: rgba(33, 43, 63, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-4-rgba {
  color: rgba(81, 112, 140, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-5-rgba {
  color: rgba(191, 128, 105, 1);
}

/* Color Theme sass variable */
$blue: #021859;
$blueLight: #51718c;
$blueNeon: #2dc6fe;
$blueDark: #273459;
$blueGrey: #212b40;
$orange: #ee5653;

body {
  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;
  border: 0;

  /* background: linear-gradient(135deg, $orange 50%, $blueDark 50%); */
  /* background: linear-gradient(135deg, $orange 20%, $blueDark 70%); */
  background-color: $blueDark;

  overflow: hidden;
}

#color {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;

  width: 40%;
  height: 1000vh;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: $orange;


}

/* boxWave - the animated border */

.backgroundBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-between;

  width: 94%;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.3) -5px -19px 38px,
    rgba(0, 0, 0, 0.3) 5px 15px 12px;

  /*  border: $blueLight 4px solid; */

  .hb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    height: 89vh;
  }

  .closedNavHolder {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;

    width: 160px;
    height: 80vh;

    margin-top: 60px;
  }

  #closedButton {
    all: unset;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 220px;
    height: 120px;

    border: 0px 0px 4px 4px;
    padding: 4px;

    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 80px;
    transform: rotate(-90deg);

    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1), -1px -1px 8px rgb(0, 0, 0);
  }

  #rightSide {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;

    width: 200px;
    height: 200px;

    top: 78%;
    right: 2%;

    gap: 20px;
  }

  #github {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    border: 0px 0px 4px 4px;

    overflow: hidden;

    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;

    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1), -1px -1px 8px rgb(0, 0, 0);
  }

  #facebook {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

    border: 0px 0px 4px 4px;

    overflow: hidden;

    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;

    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1), -1px -1px 8px rgb(0, 0, 0);
  }

  .closedMenu {
    display: none;
  }

  .boxToFill {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 89vh;

    .boxToFillCover {
      position: absolute;
      z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 80%;
      height: 20vh;

      font-size: 210px;
      color: #2dc6fe;
      letter-spacing: 8px;

      font-family: "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      text-shadow: 8px 8px 10px rgba(0, 0, 0, 1), -2px -2px 10px rgb(0, 0, 0);
    }

    .boxToFillCirlcle {
      position: absolute;
      z-index: -1;

      display: flex;
      justify-items: center;
      align-items: center;

      width: 70vh;
      height: 70vh;

      border-radius: 50%;
      margin: auto;
      background-image: url("./beton.jpg");
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      box-shadow: rgba(0, 0, 0, 0.3) -8px -8px 12px,
        rgba(0, 0, 0, 0.22) 8px 8px 12px;

      animation: spin 30s linear infinite;
    }

    #me {
      width: 490px;
      height: 490px;

      border-radius: 50%;

      background-image: url("./me.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.502) inset,
        0px -10px 10px rgba(0, 0, 0, 0.486) inset,
        0px 10px 10px rgba(0, 0, 0, 0.502) inset,
        10px 0px 10px rgba(0, 0, 0, 0.486) inset;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes merge {
      from {
        box-shadow: rgba(0, 0, 0, 0) 0px 19px 38px,
          rgba(0, 0, 0, 0) 0px 15px 12px;
      }
      to {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
    }
  }
}

#menuColor {
  position: absolute;
  z-index: -1;
  left: -5%;
  top: -5%;

  width: 140%;
  height: 1000vh;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: $orange;
  animation: spreadColor 2s ease-in-out;
}

@keyframes spreadColor {
  from {
    left: 50%;
    top: 50%;
    width: 40%;
  }
  to {
    left: -5%;
    top: -5%;
    width: 140%;
  }
}

.closedBackgroundBox {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(60%,60%);

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-between;

  width: 74%;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.3) -5px -19px 38px,
    rgba(0, 0, 0, 0.3) 5px 15px 12px;
  animation: floatDown 2s ease-in-out;

  .openedNavHolder {
    position: absolute;
    left: -105%;
    top: -165%;

    display: flex;
    flex-direction: row;
    gap: 20px;

    width: 100%;
    height: 50vh;

    position: relative;
    transform: translateY(20px);
    opacity: 1;
    transition: 2s all ease;
  }

  #openedButton {
    all: unset;
    position: absolute;
    transform: translate(120%, -70%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;

    width: 400px;
    height: 60px;

    padding-top: 2px;
    border-radius: 8px;

    background-color: $blueNeon;

    color: #f2ebeb;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 4px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4),
      -1px -1px 4px rgba(0, 0, 0, 0.4);

    box-shadow: rgba(0, 0, 0, 0.3) -5px -19px 38px,
      rgba(0, 0, 0, 0.3) 5px 15px 12px;
  }

  video {
    all: unset;
    width: 70%;
    height: 56vh;

    border-radius: 8px;

    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.202),
      0px -10px 20px rgba(0, 0, 0, 0.286), 0px 10px 20px rgba(0, 0, 0, 0.202),
      10px 0px 20px rgba(0, 0, 0, 0.286);
  }

  .openedMenu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;

    width: 70%;
    height: 56vh;

    background: #ae565360;

    border-radius: 8px;

    a {
      text-decoration: none;
      color: $blueNeon;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 4px;
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 1), -1px -1px 4px rgb(0, 0, 0);
    }

    a:hover {
      text-decoration: none;
      color: $blueNeon;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-size: 75px;
      font-weight: 800;
      letter-spacing: 4px;
      
      text-shadow: 8px 8px 12px rgba(0, 0, 0, 1), -3px -3px 4px rgb(0, 0, 0);
    }
  }
}

@keyframes floatDown {
  from {
    transform: translate(-50%, -50%);
   
  }
  to {
    transform: translate(60%, 60%);

  }
}
