/* Color Theme Swatches in Hex */
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-1-hex {
  color: #021859;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-2-hex {
  color: #273459;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-3-hex {
  color: #212b40;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-4-hex {
  color: #51718c;
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-5-hex {
  color: #bf8069;
}

/* Color Theme Swatches in RGBA */
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-1-rgba {
  color: rgba(1, 23, 89, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-2-rgba {
  color: rgba(39, 51, 89, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-3-rgba {
  color: rgba(33, 43, 63, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-4-rgba {
  color: rgba(81, 112, 140, 1);
}
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-5-rgba {
  color: rgba(191, 128, 105, 1);
}

/* Color Theme sass variable */
$blue: #021859;
$blueLight: #51718c;
$blueDark: #273459;
$blueGrey: #212b40;
$orange: #bf8069;

body {
  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;
  border: 0;

  background: $blue; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    $orange,
    $blue
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $orange,
    $blue
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* boxWave - the animated border */

.boxWave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: space-between;

  width: 90%;
  height: 90vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /*  border: $blueLight 4px solid; */

  .hl1 {
    width: 100%;
    height: 4px;
    background-color: $blueLight;
    animation: openHL1 5s;
    animation-timing-function: ease-in;
  }

  .hl2 {
    width: 100%;
    height: 4px;
    background-color: $blueLight;
    animation: openHL2 10s;
    animation-timing-function: ease-out;
  }

  .hb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    height: 89vh;

    .vl2 {
      width: 4px;

      background-color: $blueLight;
      animation: openVL2 10s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
    }
  }
  .closedNavHolder {
    position: absolute;

    box-sizing: border-box;

    width: 50px;
    height: 89vh;

    border-left: 4px solid $blueLight;
    animation: openVL1 5s;
    animation-timing-function: ease-in;
  }

  #closedButton {
    all: unset;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 30px;

    background-color: $blueLight;

    margin-top: 240px;
    border: 0px 0px 4px 4px;

    color: white;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;

    animation: openIcon 10s;
    animation-timing-function: ease-out;
  }

  .closedMenu {
    display: none;
  }

  .openedNavHolder {
    position: absolute;

    width: 200px;
    height: 90vh;

    border-left: 4px solid $blueLight;
    overflow: hidden;
  }

  #openedButton {
    all: unset;

    animation-name: merge;
    animation-duration: 2s;

    display: flex;
    justify-content: center;
    align-content: center;

    width: 140px;
    height: 30px;

    padding-top: 2px;

    background-color: rgba(255, 255, 255, 0.1);

    color: $blue;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }

  .openedMenu {
    animation-name: merge;
    animation-duration: 2s;

    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 140px;
    height: 85vh;

    background-color: rgba(255, 255, 255, 0.1);

    a {
      animation-name: mergeLink;
      animation-duration: 3s;

      text-decoration: none;
      color: white;
      font-size: 20px;
    }

    a:empty {
      animation-name: mergeLink;
      animation-duration: 3s;

      content: "";
      text-decoration: none;
      color: $blue;
      font-size: 20px;
    }

    @keyframes merge {
      from {
        width: 0px;
      }
      to {
        width: 140px;
      }
    }

    @keyframes mergeLink {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .boxToFill{
    display: flex;
    justify-items: center;
    align-items: center;

    width: 100%;
    height: 89vh;
    
  
  .boxToFillCover{
    width: 80%;
    height: 20vh;

    transform: translate(20%,-10%);

    font-size: 160px;
    color: $blue;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1), -1px -1px 4px rgb(174, 174, 174);
  }

  .boxToFillCirlcle{
    position: absolute;
    z-index: -1;
    left:30%;

    display: flex;
    justify-items: center;
    align-items: center;

    width: 71vh;
    height: 71vh;

    border-radius: 50%;
    margin: auto;
    background-image: url("./beton.jpg");    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: rgba(0, 0, 0, 0.3) 2px 19px 38px,
      rgba(0, 0, 0, 0.22) 2px 15px 12px;

    animation:spin 30s linear infinite;
  }
  }

  @keyframes openVL1 {
    from {
      height: 1vh;
    }
    to {
      height: 89vh;
    }
  }

  @keyframes openHL1 {
    from {
      width: 1%;
    }
    to {
      width: 100%;
    }
  }

  @keyframes openHL2 {
    0% {
      width: 0%;
    }
    50% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes openVL2 {
    0% {
      height: 0vh;
    }
    50% {
      height: 0vh;
    }
    100% {
      height: 89vh;
    }
  }

  @keyframes openIcon {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes spin { 
    100% {transform: rotate(360deg); } 
}
}
