/* Color Theme Swatches in Hex */
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-1-hex {
  color: #021859;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-2-hex {
  color: #273459;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-3-hex {
  color: #212b40;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-4-hex {
  color: #51718c;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-5-hex {
  color: #bf8069;
}

/* Color Theme Swatches in RGBA */
.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-1-rgba {
  color: #011759;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-2-rgba {
  color: #273359;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-3-rgba {
  color: #212b3f;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-4-rgba {
  color: #51708c;
}

.EOD-Distillery-Cocktails-Illustrated-by-Steven-Noble-5-rgba {
  color: #bf8069;
}

/* Color Theme sass variable */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  background: #021859;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#bf8069), to(#021859));
  background: linear-gradient(to right, #bf8069, #021859);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* boxWave - the animated border */
.boxWave {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 90%;
  height: 90vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /*  border: $blueLight 4px solid; */
}

.boxWave .hl1 {
  width: 100%;
  height: 4px;
  background-color: #51718c;
  -webkit-animation: openHL1 5s;
          animation: openHL1 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.boxWave .hl2 {
  width: 100%;
  height: 4px;
  background-color: #51718c;
  -webkit-animation: openHL2 10s;
          animation: openHL2 10s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.boxWave .hb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 89vh;
}

.boxWave .hb .vl2 {
  width: 4px;
  background-color: #51718c;
  -webkit-animation: openVL2 10s;
          animation: openVL2 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.boxWave .closedNavHolder {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
  height: 89vh;
  border-left: 4px solid #51718c;
  -webkit-animation: openVL1 5s;
          animation: openVL1 5s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.boxWave #closedButton {
  all: unset;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 30px;
  background-color: #51718c;
  margin-top: 240px;
  border: 0px 0px 4px 4px;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  -webkit-animation: openIcon 10s;
          animation: openIcon 10s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.boxWave .closedMenu {
  display: none;
}

.boxWave .openedNavHolder {
  position: absolute;
  width: 200px;
  height: 90vh;
  border-left: 4px solid #51718c;
  overflow: hidden;
}

.boxWave #openedButton {
  all: unset;
  -webkit-animation-name: merge;
          animation-name: merge;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 140px;
  height: 30px;
  padding-top: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #021859;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.boxWave .openedMenu {
  -webkit-animation-name: merge;
          animation-name: merge;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 140px;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.1);
}

.boxWave .openedMenu a {
  -webkit-animation-name: mergeLink;
          animation-name: mergeLink;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.boxWave .openedMenu a:empty {
  -webkit-animation-name: mergeLink;
          animation-name: mergeLink;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  content: "";
  text-decoration: none;
  color: #021859;
  font-size: 20px;
}

@-webkit-keyframes merge {
  from {
    width: 0px;
  }
  to {
    width: 140px;
  }
}

@keyframes merge {
  from {
    width: 0px;
  }
  to {
    width: 140px;
  }
}

@-webkit-keyframes mergeLink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mergeLink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.boxWave .boxToFill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 89vh;
}

.boxWave .boxToFill .boxToFillCover {
  width: 80%;
  height: 20vh;
  -webkit-transform: translate(20%, -10%);
          transform: translate(20%, -10%);
  font-size: 160px;
  color: #021859;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 3px 3px 2px black, -1px -1px 4px #aeaeae;
}

.boxWave .boxToFill .boxToFillCirlcle {
  position: absolute;
  z-index: -1;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 71vh;
  height: 71vh;
  border-radius: 50%;
  margin: auto;
  background-image: url("./beton.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 19px 38px, rgba(0, 0, 0, 0.22) 2px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 19px 38px, rgba(0, 0, 0, 0.22) 2px 15px 12px;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

@-webkit-keyframes openVL1 {
  from {
    height: 1vh;
  }
  to {
    height: 89vh;
  }
}

@keyframes openVL1 {
  from {
    height: 1vh;
  }
  to {
    height: 89vh;
  }
}

@-webkit-keyframes openHL1 {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}

@keyframes openHL1 {
  from {
    width: 1%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes openHL2 {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes openHL2 {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes openVL2 {
  0% {
    height: 0vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 89vh;
  }
}

@keyframes openVL2 {
  0% {
    height: 0vh;
  }
  50% {
    height: 0vh;
  }
  100% {
    height: 89vh;
  }
}

@-webkit-keyframes openIcon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openIcon {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=App.css.map */